<!DOCTYPE html>
<html
  lang="ko"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Document</title>
  </head>
  <body style="margin: 0; padding: 0; box-sizing: border-box">
    <div
      style="
        width: 100%;
        min-height: 100vh;
        background: #ffffff;
        padding: 31px 42px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
      "
    >
      <div
        style="width: 100%; height: 346px; display: block; text-align: center"
      >
        <div style="width: auto; height: auto">
          <hr
            style="
              width: 100%;
              height: 5px;
              background: #ffa927;
              margin-bottom: 8rem;
            "
          />
          <img
            style="
              width: calc(4% + 5rem);
              height: auto;
              viewbox: 0 0 105 38;
              fill: none;
              object-fit: cover;
            "
            src="https://github.com/Stack-Knowledge/Stack-Knowledge-front/assets/106712562/b2ae456d-2f63-44b3-952b-0bc5a626b7bb"
            alt="gauth_title"
          />
          <h1 style="font-size: 24px; font-weight: 700; color: #000000">
            <span style="color: #ffa927">Stack-Knowledge</span> 에 가입
            되었습니다!
          </h1>
          <p
            style="
              font-weight: 600;
              font-size: 16px;
              color: #929292;
              text-align: center;
            "
          >
            Stack-Knowledge에 참여해주셔서 감사합니다, 선생님! <br /><br />
            여러분의 지식과 경험을 공유하며 학생들에게 가르치는 여정에서 함께
            성장해 나가 주시기를 바랍니다. <br />
            플랫폼에서의 활동이 유익하고 즐거운 경험이 되길 바랍니다!
          </p>
          <a
            style="
              text-decoration: none;
              color: #929292;
              border-bottom: #ffa927 solid 1px;
              transition: ease-in-out 0.2s;
            "
            onmouseover="this.style.color='#ffa927'"
            onmouseout="this.style.color='#929292';"
            href="https://stackknowledge-admin.vercel.app/"
          >
            Stack-Knowledge로 이동하기
          </a>
          <hr
            style="
              width: 100%;
              height: 5px;
              background: #ffa927;
              margin-top: 8rem;
            "
          />
        </div>
      </div>
    </div>
  </body>
</html>
